@import url(//at.alicdn.com/t/font_2902903_mogcixx6gvgd.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;

}

html {
    font-family: Arial, Helvetica,Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osk-font-smoothing: grayscale;
}

@import './variable';
@import './layout';
@import './notify';